<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Data">
    <Parameter Name="AuthKey" Value="" />
    <Parameter Name="CollectionId" Value=""/>
    <Parameter Name="DatabaseId" Value=""/>
    <Parameter Name="Endpoint" Value=""/>
  </Section>
  <Section Name="Environment">
    <Parameter Name="ASPNETCORE_ENVIRONMENT" Value="" />
  </Section>
</Settings>
